<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>WebApp00</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	
	<!-- ctrl+shift+f : 포맷팅 -->
	
	<!-- Test1 클래스 → Servlet 구성 ① -->
	<!-- 
	<servlet>
		<servlet-name>kimjeongyong</servlet-name>
		<servlet-class>com.svt.Test1</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>kimjeongyong</servlet-name>
		<url-pattern>/test1</url-pattern>
	</servlet-mapping>
 	-->
 	
 	<!-- Test1 클래스 → Servlet 구성 ② -->
	<servlet>
		<servlet-name>test1Servlet</servlet-name>
		<servlet-class>com.svt.Test1</servlet-class>
		<init-param>
			<param-name>name</param-name>
			<param-value>김정용</param-value>
		</init-param>
		<init-param>
			<param-name>age</param-name>
			<param-value>20</param-value>
		</init-param>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>test1Servlet</servlet-name>
		<url-pattern>/test1</url-pattern>
	</servlet-mapping>
	
	<context-param>
		<param-name>type</param-name>
		<param-value>유머러스</param-value>
	</context-param>
	
	
	
	<!-- 문정 풀이 -->
	<!-- 
 	<servlet>
 		<servlet-name>test2</servlet-name>요 이름이랑, 매핑 name 이랑 같아야 함
 		<servlet-class>com.svt.Test2</servlet-class>
 	</servlet>
 	
 	<servlet-mapping>
 		<servlet-name>test2</servlet-name>
 		<url-pattern>/Test2</url-pattern>요 이름이랑, form 액션 태그랑 같아야 함
 	</servlet-mapping> 
 	-->
 	
 	
 	<!-- 수업 풀이 -->
 	<servlet>
		<servlet-name>test2Servlet</servlet-name><!-- 3. 이름을 찾았다!!! -->
		<servlet-class>com.svt.Test2</servlet-class><!-- 4. 인스턴스 생성한다. -->
	</servlet>
	
	<servlet-mapping>
		<servlet-name>test2Servlet</servlet-name><!-- 2. 요 이름을 찾는다!!! -->
		<url-pattern>/test2</url-pattern><!-- 1. 요청이 들어온다!! -->
	</servlet-mapping>
 	
 	
<!-- 구성 후 서버 재시작할 때 점검이 미리 진행된다. -->
	
</web-app>

